<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite">
    <test name="TestNG test" parallel = "methods" thread-count="2">
    	<parameter name="bu" value="https://reqres.in/"/>
        <classes>
            <class name="org.usb.testing.APITest"/>
        </classes>
    </test>
</suite>